/.gradle/4.10.2/
/.gradle/4.10.2/fileChanges/
/.gradle/4.10.2/fileContent/
/.gradle/4.10.2/fileHashes/
/.gradle/4.10.2/javaCompile/
/.gradle/4.10.2/taskHistory/
/.gradle/4.10.2/vcsMetadata-1/
/.gradle/4.10.2/gc.properties
/.gradle/buildOutputCleanup/
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/
/.gradle/vcs-1/gc.properties
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/codeStyles/
/dataSources/
/libraries/
/modules/
/.gitignore
/compiler.xml
/dataSources.local.xml
/dataSources.xml
/dbnavigator.xml
/gradle.xml
/misc.xml
/modules.xml
/uiDesigner.xml
/vcs.xml
/workspace.xml

/build/bootScripts/
/build/classes/
/build/distributions/
/build/jacoco/
/build/libs/
/build/reports/
/build/resources/
/build/scripts/
/build/test-results/
/build/tmp/
